/*-- BASIC SETUP --*/
* {
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

/*-- CAROUSEL SETUP --*/
.carousel {
	width: 100%;
	height: 600px; /*Change to adjust slider height*/
	position: relative; /*Sets this container to be the one everything is positioned to*/
	overflow: hidden;
}

ol {
	list-style: none;
	height: 100%;
}

li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	-webkit-transition: left .5s ease-out;
	transition:  left .5s ease-out;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover; /*Maintain the image aspect ratio*/
}

.slide { /*Styles used by both buttons*/
	width: 50px;
	height: 50px;
	line-height: 50px; /*Vertical centre the text*/
	text-align: center;
	font-size: 1.4em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50px; /*This makes the buttons circular*/
	position: absolute;
	bottom: 20px;
	z-index: 10; /*These are the top-most objects*/

}
.slide:hover {
	cursor: pointer;
	background-color: lightgrey;
}

.next {
	right: 20px;
}
.next:after {
	content: '\003e';
}
.back {
	right: 100px;
}
.back:after {
	content: '\003c';
}

/*-- SLIDING SETUP --*/
.current {
	left: 0;
	z-index: 2;
	position: relative;
}
.prev {
	left: 100%;
}
.forth {
	left: -100%;
}